#loadingLayer-altas {
  height: 100% !important;
  width:100% !important;
  background-color: white !important;
}

#loadingWheel-altas {
  width: 40px !important;
}

.leaflet-tile {
  z-index: 2 !important;
}

/*highlight tag*/
.measure-atlas {
	background-color:#FFD500 !important;
  text-decoration: underline !important;
  font-weight: bold !important;
  cursor: pointer !important; 
}

#personalizedmap {
  width: 280px !important;
  height: 280px !important;
  /*border: 1px solid #d3d3d3 !important;*/
  margin: 0 auto!important;
  padding: 0 !important;
}

#large {
  width: 280px !important;
  height: 280px !important;
}

#tootip_outer {
  width: 280px !important;
}

#exp {
  font-family: 'Raleway', "Arial", sans-serif !important;
  padding: 3px;
  text-align: center !important;
  margin-bottom: 5px;
}

.maplabel {
	font: 10pt !important;
}

.mult-atlas {
  background-color: #FFD500 !important;
  width: 200px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 22px;
  border-radius: 8px ;
  padding: 1px;
  font-weight: bold !important;
}

.mult-atlas {

}

.mult-atlas > .gs_multiplier_value {
  font-family: 'Raleway', "Arial", sans-serif !important;
  line-height: 22px;
  font-weight: 700;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.gs_multiplier_text {
  font-family: 'Raleway', "Arial", sans-serif !important;
  font-size: 14px;
  line-height: 17px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}