#loadingLayer-altas {
  height: 100%;
  width:100%;
  background-color: white;
}

#loadingWheel-altas {
  width: 40px;
}

.leaflet-tile { 
  z-index: 2;
  left: 0px;
  top: 0px;
}

/*highlight tag*/
.measure-atlas {
	background-color:#FFD500;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer; 
}

#personalizedmap {
  width: 280px;
  height: 280px;
  /*border: 1px solid #d3d3d3;*/
  margin: 0;
  padding: 0;
}

#large {
  width: 280px;
  height: 280px;
}

#tootip_outer {
  width: 280px;
}

#exp {
  font-family: 'Raleway', "Arial", sans-serif;
  padding: 3px;
  text-align: center;
}

.maplabel {
	font: 10pt;
}

.mult-atlas {
  background-color: #FFD500;
  width: 200px;
  margin-top: 4px;
  margin-bottom: 3px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 1px;
  font-weight: bold;

}